@font-face {
    font-family: "Japan";
    src: url("./assets/fonts/electroharmonix.ttf");
   
}


body{
    margin: 0;
    padding: 0
}

.main-container{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
    background-color: #15161D;
  
}

.japan-title{
    font-family: "Japan" ;
    color: #fff;
    font-size: 7rem;
}

.carrousel-towns{
    overflow-x:scroll;
}

.Tokyo{
    background-image: url(./assets/images/tokyo.png);}

.Osaka{
    background-image: url(./assets/images/osaka.png);

}

.Kyoto{
    background-image: url(./assets/images/kyoto.png);

}

.Tokyo,
.Osaka,
.Kyoto{
    background-attachment: fixed;
}