@font-face {
    font-family: "Japan";
    src: url("./assets/fonts/electroharmonix.ttf");
   
}

html{
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    background-color: #15161D;

}


body{
    margin: 0;
    padding: 0;
    display: block;
    

}
body::-webkit-scrollbar {
    display: none;
}
  

.main-container{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
  
}

.japan-title{
    font-family: "Japan" ;
    color: #fff;
    font-size: 7rem;
}

.carrousel-towns{
    overflow-x:scroll;
}

.Tokyo{
    background-image: url(./assets/images/tokyo.png);
}


.Osaka{
    background-image: url(./assets/images/osaka.png);

}

.Kyoto{
    background-image: url(./assets/images/kyoto.png);

}
.Nagoya{
    background-image: url(./assets/images/nagoya.png);

}


.Tokyo,
.Osaka,
.Kyoto,
.Nagoya{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.plus-icon{
    background-image: url(./assets/images/plus-circle.svg);
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    z-index: 4;
    background-color: transparent;
    border: none;
    outline: none;
}


.plus-icon:hover .Tokyo{
    filter: opacity(0.2);
  }

.carrousel-towns::-webkit-scrollbar {
    display: none;
}
  